.error-block {
  height: 50vh;
}

.no-page-block *{
  margin-left: 10vw;
  margin-top: 5vw;
  color: black;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
}