:root {
    --lrpx: min(100vw / 1440, 100vh / 1024);
}

.login-main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-size: 0px;
    background: #f9f9f9;
    overflow: hidden;
}


.login-main-container {
    overflow: hidden;
}

.login-main-container,
.login-main-container * {
    box-sizing: border-box;
}

:root {
    --lrpx: min(100vw / 1440, 100vh / 1024);
}

/* .login-main-container {
    position: relative;
    width: calc(1440 * var(--lrpx));
    height: calc(1024 * var(--lrpx));
    margin: 0 auto;
    font-size: 0px;
    background: #f9f9f9;
    overflow: hidden;
} */
.login-text {
    text-decoration: none;
    display: block;
    position: relative;
    height: calc(44 * var(--lrpx));
    margin: calc(40 * var(--lrpx)) 0 0 calc(60 * var(--lrpx));
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #3563e9;
    font-size: calc(32 * var(--lrpx));
    font-weight: 700;
    line-height: calc(44 * var(--lrpx));
    text-align: left;
    white-space: nowrap;
    letter-spacing: calc(-1.92 * var(--lrpx));
    z-index: 11;
}

 /* Center the wrapper horizontally
margin-top: calc(162 * var(--lrpx)); Adjust the top margin as needed
font-size: 0px;
background: #ffffff;
border: calc(1 * var(--lrpx)) solid #d5d5d5;
z-index: 1;
overflow: visible auto;
border-radius: calc(26 * var(--lrpx));
}
position: absolute; */

.login-wrapper {
    position: relative;
    width: calc(538 * var(--lrpx));
    height: calc(533 * var(--lrpx));
    margin: calc(162 * var(--lrpx)) auto auto auto;
    font-size: 0px;
    background: #ffffff;
    border: calc(1 * var(--lrpx)) solid #d5d5d5;
    z-index: 1;
    overflow: visible auto;
    border-radius: calc(26 * var(--lrpx));
}
.login-text-2 {
    display: block;
    position: relative;
    height: calc(43 * var(--lrpx));
    margin: calc(29 * var(--lrpx)) 0 0 calc(40 * var(--lrpx));
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: calc(35 * var(--lrpx));
    font-weight: 700;
    line-height: calc(42.7349967956543 * var(--lrpx));
    text-align: left;
    white-space: nowrap;
    z-index: 2;
}
.login-section {
    padding: calc(20 * var(--lrpx));
    position: relative;
    width: calc(454.78564453125 * var(--lrpx));
    height: calc(66.05825805664062 * var(--lrpx));
    margin: calc(45.5849609375 * var(--lrpx)) 0 0
        calc(40.336822509765625 * var(--lrpx));
    background: #ffffff;
    border: calc(1 * var(--lrpx)) solid #eaeaea;
    z-index: 3;
    border-radius: calc(10 * var(--lrpx));
}
.login-text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: calc(21 * var(--lrpx));
    top: calc(23.4150390625 * var(--lrpx));
    left: calc(26.663177490234375 * var(--lrpx));
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #b0a9a9;
    font-size: calc(18 * var(--lrpx));
    font-weight: 400;
    line-height: calc(21 * var(--lrpx));
    text-align: left;
    white-space: nowrap;
    z-index: 7;
}
.login-section-2 {
    position: relative;
    width: calc(454.78564453125 * var(--lrpx));
    height: calc(66.05825805664062 * var(--lrpx));
    margin: calc(21.848358154296875 * var(--lrpx)) 0 0
        calc(40.336822509765625 * var(--lrpx));
    background: #ffffff;
    border: calc(1 * var(--lrpx)) solid #eaeaea;
    z-index: 4;
    border-radius: calc(10 * var(--lrpx));
    padding: calc(20 * var(--lrpx));
}
.login-text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: calc(21 * var(--lrpx));
    top: calc(24.5291748046875 * var(--lrpx));
    left: calc(26.311676025390625 * var(--lrpx));
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #b0a9a9;
    font-size: calc(18 * var(--lrpx));
    font-weight: 400;
    line-height: calc(21 * var(--lrpx));
    text-align: left;
    white-space: nowrap;
    z-index: 6;
}
.login-text-5 {
    display: block;
    position: relative;
    height: calc(21 * var(--lrpx));
    margin: calc(31.584075927734375 * var(--lrpx)) 0 0
        calc(50.14849853515625 * var(--lrpx));
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #333333;
    font-size: calc(18 * var(--lrpx));
    font-weight: 400;
    line-height: calc(21 * var(--lrpx));
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}

.login-text-6 {
    display: block;
    position: relative;
    height: calc(27 * var(--lrpx));
    margin: calc(62.8660888671875 * var(--lrpx)) 0 0 calc(221 * var(--lrpx));
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: calc(22 * var(--lrpx));
    font-weight: 700;
    line-height: calc(26.86199951171875 * var(--lrpx));
    text-align: left;
    white-space: nowrap;
    z-index: 0;
}
.login-box {
    position: relative;
    width: calc(167 * var(--lrpx));
    height: calc(22 * var(--lrpx));
    margin: calc(61 * var(--lrpx)) 0 0 calc(186 * var(--lrpx));
    font-family: Plus Jakarta Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    font-size: calc(18 * var(--lrpx));
    font-weight: 400;
    line-height: calc(22 * var(--lrpx));
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 9;
}
.login-text-7 {
    position: relative;
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #333333;
    font-size: calc(18 * var(--lrpx));
    font-weight: 400;
    line-height: calc(22.68000030517578 * var(--lrpx));
    text-align: left;
}
.login-text-8 {
    position: relative;
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #333333;
    font-size: calc(18 * var(--lrpx));
    font-weight: 700;
    line-height: calc(22.68000030517578 * var(--lrpx));
    text-align: left;
}
.login-box-2 {
    width: calc(454.78564453125 * var(--lrpx));
    height: calc(66.05825805664062 * var(--lrpx));
    position: absolute;
    top: calc(368 * var(--lrpx));
    left: calc(45 * var(--lrpx));
    background: #3563e9;
    border: calc(1 * var(--lrpx)) solid #eaeaea;
    z-index: 5;
    border-radius: calc(10 * var(--lrpx));
    box-shadow: 0 calc(10 * var(--lrpx)) calc(40 * var(--lrpx)) 0
        rgba(174, 174, 174, 0.2);
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: calc(22 * var(--lrpx));
    font-weight: 700;
    line-height: calc(26.86199951171875 * var(--lrpx));
}

input::placeholder {
    font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
    color: #b0a9a9;
}


/* .login-textarea {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    outline: none;
    border: none;  Hide the border 
    resize: none; /* Make it not resizable 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit 
    -moz-box-sizing: border-box;    /* Firefox, other Gecko 
    box-sizing: border-box;  
} */
